<div class="autonomous">
	TRAFFIC LIGHT SETTINGS
	<ul>
		<li>Roi x: <input type="number" ng-model="settings.roi_x" min=0 max="{{carmageddon.settings.video_width}}"></li>
		<li>Roi y: <input type="number" ng-model="settings.roi_y" min=0 max="{{carmageddon.settings.video_height}}"></li>
		<li>Roi width: <input type="number" ng-model="settings.roi_width" min="{{settings.roi_x}}" max="{{carmageddon.settings.video_width}}"></li>
		<li>Roi height: <input type="number" ng-model="settings.roi_height" min="{{settings.roi_y}}" max="{{carmageddon.settings.video_height}}"></li>
	</ul>
	<div class="snapshot">
        <div class="roi" style="left: {{settings.roi_x}}px;
            top: {{settings.roi_y}}px; width:
            {{settings.roi_width}}px; height: {{settings.roi_height}}px;"></div>
		<img ng-src="http://localhost:1984/camera/snapshot" width="{{carmageddon.settings.video_width}}" height="{{carmageddon.settings.video_height}}"/>
	</div>
	
</div>