<div class="car-status">
    <div class="car">
            Steer angle: <span class="angle">{{ car.angle }}</span>
            Engine throttle: <span class="throttle">{{car.throttle }}</span>
    </div>
    <div class="mode">
        Mode: <select ng-model="carMode" ng-change="updateCarMode(carMode)">
            <option value="0">stopped</option>
            <option value="1">manual</option>
            <option value="2">autonomous</option>
        </select>
    </div>
    <!--<div class="horn">-->
        <!--<img src="./images/horn.png" ng-click="blowHorn();" class="pointer"/>-->
    <!--</div>-->
</div>
