$nav-button-color: #00838F;
$background-color: #eee;
$border-color: #ccc;
$active-tab: #ddd;
$font_family : 'Open Sans', 'Helvetica New', Helvetica, Arial, sans-serif;

$font_size :14px;

$gutter: 2 * $font_size;